
.display-4 {
    font-family: 'Merriweather';
    font-size: 2.5rem; 
    font-weight: 900;
    color: #151B32;
    margin-bottom: 20px; 
  }
 
.form-control {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  gap: 8px;
  margin: 0 auto;
  width: 327px;
  height: 64px;
  border: 1px solid #BFC8E6;
  border-radius: 4px;
  flex: none;
  order: 0;
  flex-grow: 0;
  position: relative;
}

.form-control .frame,
.form-control .vector {
  width: 32px;
  height: 32px;
  flex: none;
  order: 0;
  flex-grow: 0;
  position: absolute;
}

.form-control .frame {
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  border: 2px solid #151B32;
}

.form-control .vector {
  left: 12.5%;
  right: 29.17%;
  top: 12.5%;
  bottom: 29.17%;
  border: 2px solid #151B32;
}

.form-control .vector:last-child {
  left: 62.5%;
  right: 12.5%;
  top: 62.5%;
  bottom: 12.5%;
}


.form-control .search-users {
  width: 105px;
  height: 24px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #151B32;
  opacity: 0.7;
  flex: none;
  order: 1;
  flex-grow: 0;
}


  .col-md-6 li {
    display: flex;
    flex-direction: column; 
    gap: 16px;
    padding: 24px;
    background: #FBFCFF;
    border-radius: 16px;
    border: 1px solid #BFC8E6;
    box-shadow: 0px 8px 23px rgba(218, 224, 249, 0.7);
  }
  
  .col-md-6 img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  .col-md-6 ul {
    list-style: none;
    padding: 0;
  }
  
  .col-md-6 ul li ul {
    list-style: none;
    padding: 0;
  }
  
  .col-md-6 h3 {
    font-family: 'Merriweather';
    font-weight: 900;
    font-size: 18px;
    line-height: 23px;
    color: #151B32;
  }
  
  .col-md-6 p {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #151B32;
  }
  

  .col-md-6 li li {
    display: inline-block;
    margin-right: 8px;
    background: #FFFFFF;
    border: 1px solid #BFC8E6;
    border-radius: 10px;
    padding: 2px 8px;
  }
  

  .col-md-6 li li {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #516FD5;
  }
  .col-md-5 li {
    display: flex;
    flex-direction: column; 
    gap: 16px;
    padding: 24px;
    background: #FBFCFF;
    border-radius: 16px;
    border: 1px solid #BFC8E6;
    box-shadow: 0px 8px 23px rgba(218, 224, 249, 0.7);
  }
  
 
  .col-md-5 img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
 
  .col-md-5 ul {
    list-style: none;
    padding: 0;
  }
  
  .col-md-5 ul li ul {
    list-style: none;
    padding: 0;
  }
  

  .col-md-5 h3 {
    font-family: 'Merriweather';
    font-weight: 900;
    font-size: 18px;
    line-height: 23px;
    color: #151B32;
  }
  

  .col-md-5 p {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #151B32;
  }
  

  .col-md-5 li li {
    display: inline-block;
    margin-right: 8px;
    background: #FFFFFF;
    border: 1px solid #BFC8E6;
    border-radius: 10px;
    padding: 2px 8px;
  }
  

  .col-md-5 li li {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #516FD5;
  }
  